{% extends 'base.html' %}
{% load i18n %}
{% block content %}


<div style="direction: rtl;" class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  <div  class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">{% trans 'delete' %}</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
          
       <p class="p-3">{% trans 'rellay delete' %}</p>
   
        </div>
        <!-- /.card-body -->
  
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">{% trans 'delete' %}</button>
  
          <a href="{% url 'base' %}" type="buttton" class="btn btn-success">{% trans 'back' %}</a>
        </div>
      </form>
    </div>
  </div>
  </div>

{% endblock %}