{% extends 'base.html' %}
{% load i18n %}
{% load post_tag %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div style="direction: rtl;" class="wrapper">
  <section class="section section-lg bg-default section-lined">
    <div class="container container-lined">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="container container-custom-width">
      <h3 class="text-center">{% trans 'Our Latest Projects'%}</h3>
      <div class="row row-custom-width row-30 row-xxl-100 row-flex">
        {% for project in Projectsss %}
        <div id="" class="col-md-4 bookhide project{{project.category.id}} ">

          <div class="col-sm-6 col-lg-4 wow fadeInRight">
            {% if project.photo_project%}
            <div class="project-grid" style="background-image: url({{project.photo_project.url}});">
              {% else %}
              <div class= "widget-user-header bg-info">
              {% endif %}
              {% if project.photo_engineer%}
              <div class="inner"><img src="#" alt=""/>
                {% else %}
                <div class= "widget-user-header bg-info">
                {% endif %}
                <h5 class="title text-capitalize font-weight-medium"><a href="#">{{project.name}}</a></h5>
                <p class="font-weight-regular exeption">{% trans 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'%}</p><a class="button button-default" href="{% url 'show' project.id %}">View</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      
    </div>

    <section class="section section-lg bg-gray-700 text-center text-sm-left">
      <div class="container">
        <div class="row row-40">
          <div class="col-lg-9">
            <div class="row row-30 row-xxl-85">
              <div class="col-sm-6 col-md-4">
        
              </div>
              <div class="col-sm-6 col-md-4">

              </div>
              <div class="col-sm-6 col-md-4">
              </div>
              <div class="col-sm-6 col-md-4">
                <article class="box-counter">
                  <div class="box-counter-main">
                    <div class="counter">10</div><span class="small small_top">+</span>
                  </div>
                  <div class="box-counter-title">{% trans 'International awards'%}</div>
                </article>
              </div>
              <div class="col-sm-6 col-md-4">
                <article class="box-counter">
                  <div class="box-counter-main">
                    <div class="counter">{{allprojects}}</div>
                  </div>
                  <div class="box-counter-title">{% trans 'Finished projects'%}</div>
                </article>
              </div>
              <div class="col-sm-6 col-md-4">
                <article class="box-counter">
                  <div class="box-counter-main">
                    <div class="counter">19</div>
                  </div>
                  <div class="box-counter-title">{% trans 'Years of experience'%}</div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="heading-3">{% trans 'High-quality solutions'%}</div>
            <div class="big text-white-lighter text-white-darken">{% trans 'We are committed to providing the best possible solutions at a competitive cost. Our team is ready to offer a wide range of various architectural services'%}.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blurb minimal-->
    <section class="section section-lg bg-default section-lined">
      <div class="container container-lined">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="container">
        <div class="row row-40">
          <div class="col-sm-6 col-md-4 offset-left-16 wow fadeInUp">
            <!-- Blurb minimal-->
            <div class="blurb-minimal unit unit-spacing-sm flex-column flex-lg-row">
              <div class="unit-left">
                <div class="blurb-minimal-icon construction-icon-12"></div>
              </div>
              <div class="unit-body">
                <h5 class="blurb-minimal-title">{% trans 'Modern Materials'%}</h5>
                <p class="blurb-minimal-exeption">{% trans 'All our projects are designed and built using the best materials.'%}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <!-- Blurb minimal-->
            <div class="blurb-minimal unit unit-spacing-sm flex-column flex-lg-row">
              <div class="unit-left">
                <div class="blurb-minimal-icon construction-icon-13"></div>
              </div>
              <div class="unit-body">
                <h5 class="blurb-minimal-title">{% trans 'Creative Ideas'%}</h5>
                <p class="blurb-minimal-exeption">{% trans 'Creativity is a vital part of the projects we design for you'%}.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
            <!-- Blurb minimal-->
            <div class="blurb-minimal unit unit-spacing-sm flex-column flex-lg-row">
              <div class="unit-left">
                <div class="blurb-minimal-icon construction-icon-18"></div>
              </div>
              <div class="unit-body">
                <h5 class="blurb-minimal-title">{% trans 'Unique Approach'%}</h5>
                <p class="blurb-minimal-exeption">{% trans 'Our approach combines dedication and professionalism.'%}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Clients-->
    <div class="container container-custom-width">
      <h3 class="text-center bg-secondary text-light p-2">{%trans 'Our Clients' %}</h3>
      <div class="row row-custom-width row-30 row-xxl-100 row-flex">
        {% for client in clients %}
        <div class="col-sm-4 col-lg-3 wow fadeInRight">
          {% if client.photo_clients%}
          <div class="project-grid" style="background-image: url({{client.photo_clients.url}}) ;">
            <div class="inner"><img src="#" alt=""/>
              {% else %}
              <div class= "widget-user-header bg-info">
              {% endif %}
              <h5 class="title text-capitalize font-weight-small_top"><a href="#" >{{client.name}} </a></h5>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="row row-30 row-xxl-55 justify-content-end">
            <div class="col-sm-6 col-lg-9 col-xl-10 text-lg-right">
              <h3 class="offset-left-70">{% trans 'always be there for them'%}</h3>
              <div class="big-text">{% trans 'they trus us'%}</div>
              <div class="divider divider-2 d-none d-lg-block"></div>
            </div>
            <div class="col-sm-6 col-lg-8 col-xl-7">
              <div class="counter-minimal">
                <div class="counter-left">
                  <div class="counter">{{allclients}}</div>
                </div>
                <div class="counter-right">
                  <div class="postfix">+</div>
                  <div class="title">{% trans 'our Clients'%}</div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container container-custom-width">
      <h3 class="text-center bg-secondary text-light p-2">{%trans 'Our Team' %}</h3>
      <div class="row row-custom-width row-30 row-xxl-100 row-flex">
        {% for project in Projectsss %}
        <div class="col-sm-4 col-lg-3 wow fadeInRight">
          {% if project.photo_engineer%}
          <div class="project-grid" style="background-image: url({{project.photo_engineer.url}}) ;">
            <div class="inner"><img src="#" alt=""/>
              {% else %}
              <div class= "widget-user-header bg-info">
              {% endif %}
              <h5 class="title text-capitalize font-weight-small_top"><a href="#" >{{project.engineer}} </a></h5>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div>
  
    <!-- Team-->

    
          <div class="col-lg-5 col-xl-4">
            <div class="row row-30 row-xxl-55 justify-content-end">
              <div class="col-sm-6 col-lg-9 col-xl-10 text-lg-right">
                <h3 class="offset-left-70">{% trans 'Meet the Team of Our Designers and Architects'%}</h3>
                <div class="big-text">{% trans 'The team of Arty has more than 20 years of experience in architecture.'%}</div>
                <div class="divider divider-2 d-none d-lg-block"></div>
              </div>
              <div class="col-sm-6 col-lg-8 col-xl-7">
                <div class="counter-minimal">
                  <div class="counter-left">
                    <div class="counter">50</div>
                  </div>
                  <div class="counter-right">
                    <div class="postfix">+</div>
                    <div class="title">{% trans 'People in team'%}</div>
                  </div>
                </div>
                <ul class="list-marked list-marked-big">
                  <li>{% trans '28 exceptional'%}<br> {% trans 'full-time professionals'%}</li>
                  <li>{% trans '5-year specialized team member practice'%}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <li class="nav-item">
        <h3 class="text-center bg-secondary text-light p-2">{%trans 'last blog' %}</h3>
        
        {% latest_posts %}
      </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'home' %}" class="nav-link">{% trans ' see all blog' %} </a>
        </li>
      
      

        
  


              <div class="row">
                <div class="col text-center">
                  <!--اضف صورة هنا في حالة عدم وجود -->   
                </div>
              </div>
    </div>
        <!-- /.container-fluid -->
  </div>
      <!-- /.content -->
</div>
{% endblock %}