{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% load crispy_forms_tags %}

<html lang="ar" dir="rtl">
<head>
  <title>Contacts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'css/fonts.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<li align="Left">
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}                                         
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
        {% if LANGUAGE_CODE == 'ar' %}
            <button type='submit' name='language' value='en' class="btn dropdown-toggle dropdown-toggle-split" >
                <span class="sr-only">Toggle Dropdown</span>en
            </button>
        {% else %}
            <button type='submit' name='language' value='ar' class="btn dropdown-toggle dropdown-toggle-split" >
                <span class="sr-only">Toggle Dropdown</span>ar

            </button>
        {% endif %}
    </form>
</li>
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-bg-6.jpg);">
    <div class="container">
      <h3 class="breadcrumbs-custom-title">{{articles.name}}</h3>
      <pre-footer-classic class="breadcrumbs-custom-subtitle">  
          <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'base' %}" class="nav-link">{% trans 'go back basic page' %} </a>
        </li></pre-footer-classic>
    </div>
</section>
<div class="container container-lined">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<section class="breadcrumbs-custom bg-image context-danger" style="background-image: url({{articles.photo_project.url}});">
    
    <div class="container">
      <h3 class="breadcrumbs-custom-title">{{articles.name}}</h3>
      <pre-footer-classic class="breadcrumbs-custom-subtitle"></pre-footer-classic>
    </div>
  </section>
  <!-- Base typography -->
  <section class="section section-lg bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-xl-">
          <ul class="list-xl">
            <li>
              <h1 class="left">{% trans 'created_at' %}</h1>
              <p>{{articles.created_at}}</p>
            </li>
            <li>
              <h1>{% trans 'engineer' %}</h1>
              <p>{{articles.engineer}}</p>
            </li>
            <li>
              <h1>{% trans 'manager' %}</h1>
              <p>{{articles.manager}}</p>
            </li>
            <li>
              <h1>{% trans 'proid' %}</h1>
              <p>{{articles.proid}}</p>
            </li>
            <li>
              <h1>{% trans 'place' %}</h1>
              <p>{{articles.place}}</p>
            </li>
            <li>
              <h1>{% trans 'cost' %}</h1>
              <p>{{articles.cost}}</p>
            </li>
            <li>
              <h1>{% trans 'more datails' %}</h1>
              <p>{{articles.datails}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div
</section>
  
  