{% load i18n %}
<div class="pt-3 mt-4 mb-5 text-center">
    {% if page.has_next %}
    <a class="btn btn-secondary bg-secondary" href="?page={{page.next_page_number}}">{% trans 'Next'%}</a>
    {% else %}
    <a class="btn btn-secondary bg-secondary disabled" href="#">{% trans 'Next' %}</a>
    {% endif %}

    <span class="pr-4 pl-4">{% trans 'page'%} {{page.number}} {% trans 'from'%} {{page.paginator.num_pages}}</span>

    {% if page.has_previous %}
    <a class="btn btn-secondary bg-secondary" href="?page={{page.previous_page_number}}">{% trans 'previous'%}</a>
    {% else %}
    <a class="btn btn-secondary bg-secondary disabled" href="#">{% trans 'previous'%}</a>
    {% endif %}
</div>