{% load i18n %}




<aside style="position: fixed;" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'base' %}" class="brand-link">
    <span class="brand-text font-weight-light">{% trans 'the list'%}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
        <a href="{% url 'home' %}" class="d-block">{% trans 'blog' %}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              {%trans 'Category'%}
              <i class="fas fa-angle-left right"></i>
              
            </p>
          </a>
          <ul class="nav nav-treeview">
            
            {% for cat in category %}
            <li class="nav-item cat{{cat.id}}">
              <a id="" class="nav-link bg-primary" href="#">{{cat.name}}</a>
            </li>
          {% endfor %}

          </ul>
        </li>
        
        
        
        <!--<li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              {%trans 'project'%}
              <i class="fas fa-angle-left right"></i>
              
            </p>
          </a>

          <li style="cursor: pointer;" class="nav-item statussold">
            <a id="statusSold" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">{% trans 'completed projects' %} </p>
            </a>
          </li>
          <li style="cursor: pointer;" class="nav-item statusretail">
            <a id="" class="nav-link">
              <i class="nav-icon far fa-circle text-warning"></i>
              <p>{% trans 'joint projects' %} </p>
            </a>
          </li>
          <li style="cursor: pointer;" class="nav-item statusvailable">
            <a id="" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>{% trans 'in progress projects' %}</p>
            </a>
          </li>






          <ul class="nav nav-treeview">
            
            <li class="nav-item project{{project.id}}">
              <a id="" class="nav-link bg-primary" href="#"> <p class="text">{% trans 'in progress projects' %}</p></a>
            </li>
          

          </ul>
          <ul class="nav nav-treeview">
            
            <li class="nav-item project{{project.id}}">
              <a id="" class="nav-link bg-primary" href="#"> <p class="text">{% trans 'joint projects' %}</p></a>
            </li>
          

          </ul>
          <ul class="nav nav-treeview">
            
            <li class="nav-item project{{project.id}}">
              <a id="" class="nav-link bg-primary" href="#"> <p class="text">{% trans 'completed projects' %}</p></a>
            </li>
          

          </ul>
        </li>-->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>